{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Confirmation</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				{% include "components/errors.html" %}

				<h5 class="text-center">
                    Nous avons envoyé une confirmation par email à votre
                    adresse.
				</h5>

				<br>

				<h5 class="text-center">
                    Merci de cliquer sur le lien dans cet email pour confirmer
                    votre compte.
				</h5>

				<br>

				<h5 class="text-center">
                    Si cet email ne vous est pas parvenu, vérfiez votre dossier
                    de spam ou contactez un administrateur pour vérifier
                    manuellement votre compte.
				</h5>

				<hr>

				{% with form = Forms.auth.ConfirmForm() %}
				<form method="POST" action="{{ url_for('auth.confirm') }}">
					<div class="row">
						<div class="col-md-6">
							{{ form.submit(class="btn btn-md btn-primary btn-outlined w-100") }}
						</div>
						<div class="col-md-6">
							<a href="{{ url_for('views.settings') }}" class="btn btn-md btn-secondary btn-outlined w-100">
                                Changer d'adresse email
							</a>
						</div>
						{{ form.nonce() }}
					</div>
				</form>
				{% endwith %}
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}

