{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Équipe</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3 text-center">
				<p>Bienvenue sur les {{ Configs.ctf_name }}!</p>
				<p>
                    Pour pouvoir participer vous devez rejoindre ou créer une
                    équipe.
				</p>
			</div>
		</div>
		<div class="row pt-3">
			<div class="col-md-3 offset-md-3 text-center">
				<a class="btn btn-primary w-100" href="{{ url_for('teams.join')
                    }}">Rejoindre une équipe</a>
			</div>
			<div class="col-md-3 text-center">
				<a class="btn btn-primary w-100" href="{{ url_for('teams.new')
                    }}">Créer une nouvelle équipe</a>
			</div>
            <div class="col-md-4 offset-md-4 text-center pt-3">
				<a class="btn btn-primary w-200" href="{{
                                                url_for('teams.joinsolo')
                    }}">Rejoindre l'équipe des individuels</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}
